body {
    font-family: Arial, sans-serif;
    background-color: #b7b1e3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   
}

.container {
    background-color: rgb(246, 246, 246);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: 1px solid #c4a5c5;
    border-radius: 5px;
    width: 200px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#weather-result {
    margin-top: 20px;
}